.modelOptions{
  display: flex;
  gap: 7px;
  position: relative;
  transform: translateY(-650%);
  left: -50%;
  z-index: 5;
  pointer-events:auto;
}


.modelOptions p{
  font-size: .75rem;
  font-weight: 700;
  padding: 3px 6px;
  border: 1.5px solid black;
  border-radius: 5px;
  background: rgba(255,255,255,.9);
  cursor: pointer;
  transition: all .2s ease;
}

.modelOptions p:hover{
  background:black;
  color:white;
}

.fixTraining{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: absolute;
  left: 18rem;
  top: -10rem;
  background: white;
  border: 3px solid black;
  border-radius: 5px;
  color: black;
  min-width: 14rem;
  padding: .75rem;
}