.modelOptions{
  display: flex;
  gap: 7px;
  position: relative;
  transform: translateY(-650%);
  left: -50%;
  z-index: 5;
  pointer-events:auto;
}


.modelOptions p{
  font-size: .75rem;
  font-weight: 700;
  padding: 3px 6px;
  border: 1.5px solid black;
  border-radius: 5px;
  background: rgba(255,255,255,.9);
  cursor: pointer;
  transition: all .2s ease;
}

.modelOptions p:hover{
  background:black;
  color:white;
}

.addSupports{
  display:flex;
  align-items:center;
  position: absolute;
  left: -75%;
  top: 430%;
  background:black;
  border:3px solid white;
  border-radius:5px;
  color:white;
  gap: 6px;
  padding: 3px 4px;
  pointer-events:auto;
}

.addSupports__text{
  font-size: .75rem;
  font-weight: 300;
}

.addSupports__buttons{
  display:flex;
  align-items:center;
  gap:5px;
  
}

.addSupports__help{
  background: #3399ff;
  color:white;
  font-weight:500;
  font-size:.75rem;
  padding: 5px 7px;
  border-radius: 5px;
  cursor:pointer;
  transition: all .2s ease;
}

.addSupports__help:hover{
  background: #5daeff;
}

.addSupports__fix{
  background: #666666;
  color:white;
  font-weight:500;
  font-size:.75rem;
  padding: 5px 8px;
  border-radius: 5px;
  cursor:pointer;
  transition: all .2s ease;
}

.addSupports__fix:hover{
  background: #00ad4e;
}

.fixTraining{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: absolute;
  left: 18rem;
  top: -10rem;
  background: white;
  border: 3px solid black;
  border-radius: 5px;
  color: black;
  min-width: 14rem;
  padding: .75rem;
}