.modelOptions{
  display: flex;
  gap: 7px;
  position: relative;
  transform: translateY(-650%);
  left: -50%;
  z-index: 5,
}


.modelOptions p{
  font-size: .75rem;
  font-weight: 700;
  padding: 3px 6px;
  border: 1.5px solid black;
  border-radius: 5px;
  background: rgba(255,255,255,.9);
  cursor: pointer;
  transition: all .2s ease;
}

.modelOptions p:hover{
  background:black;
  color:white;
}

.modelRepair{
  display:flex;
  align-items:center;
  position: absolute;
  left: -75%;
  top: 430%;
  background:black;
  border:3px solid white;
  border-radius:5px;
  color:white;
  min-width: 26.2rem;
  gap: 6px;
  padding: 3px 4px;
}

.modelRepair__text{
  font-size: .75rem;
  font-weight: 300;
}

.modelRepair__buttons{
  display:flex;
  align-items:center;
  gap:5px;
  
}

.modelRepair__help{
  background: #3399ff;
  color:white;
  font-weight:500;
  font-size:.75rem;
  padding: 5px 7px;
  border-radius: 5px;
  cursor:pointer;
  transition: all .2s ease;
}

.modelRepair__help:hover{
  background: #5daeff;
}

.modelRepair__fix{
  background: #666666;
  color:white;
  font-weight:500;
  font-size:.75rem;
  padding: 5px 8px;
  border-radius: 5px;
  cursor:pointer;
  transition: all .2s ease;
}

.modelRepair__fix:hover{
  background: #00ad4e;
}



