.printableMenu{
  position: absolute;
  z-index:1000;
  height:100%;
  width:100%;
  background: rgba(0,0,0,.8);
  display:flex;
  justify-content: center;
  align-items:center;
}

.printableMenu__container{
  background:white;
  max-height:469px;
  min-height:469px;
  max-width:550px;
  min-width:550px;
  position: relative;
  padding:2rem;
}

.printableMenu__title{
  position:absolute;
  top:-43px;
  left:0;
  background: white;
  padding: .8rem 3.5rem;
}

.printableMenu__cancel{
  position: absolute;
  left:0;
  bottom: -52px;
  background: #666;
  color: white;
  padding: 1.08rem 4.4rem;
  cursor:pointer;
  transition: all .2s ease; 
}

.printableMenu__cancel:hover{
  background: #777;
}

.printableMenu__apply{
  position: absolute;
  bottom: -52px;
  right: 0;
  background: #00ad4e;
  color: white;
  padding: 1.08rem 4.4rem;
  cursor:pointer;
  transition: all .2s ease; 
}

.printableMenu__apply:hover{
  filter:brightness(110%)
}

.printableMenu__title h5, .printableMenu__cancel h5, .printableMenu__apply h5{
  font-size:.9rem;
}

.printableMenu__cancel h5, .printableMenu__apply h5{
  letter-spacing: .5px;
  font-weight: 500;
}

.printableMenu__printability{
  margin-bottom:2rem;
}

.printableMenu__printability h3{
  margin-bottom:.9rem;
}

.printableMenu__printability p{
  color: #666;
}

.printableMenu__platform{
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding-bottom: 1.2rem;
  border-bottom: 1.5px solid #ddd;
}

.printableMenu__platformLeft h3{
  margin-bottom:.3rem;
}

.printableMenu__platformLeft p{
  color: #666;
}

.printableMenu__platformSwitch{
  background: #777;
  padding: .2rem .4rem;
  width: 6rem;
  height: 2.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor:pointer;
}

.printableMenu__platformButton{
  background: white;
  height: 90%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  font-weight: 600;
  padding: 0 .6rem;
  color: #777;
}

.printableMenu__compatibility{
  margin-top: 2rem;
}

.printableMenu__compatibilityTop{
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin-bottom: 2rem;
}

.printableMenu__compatibilitySwitch{
  background: #777;
  padding: .2rem .4rem;
  width: 6rem;
  height: 2.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor:pointer;
}

.printableMenu__compatibilityButton{
  background: white;
  height: 90%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  font-weight: 600;
  padding: 0 .6rem;
  color: #777;
}

.selectedMode{
  background: #00ad4e !important;
  justify-content: flex-end;
}

.selectedText{
  color: #00ad4e;
}
