.printMenu{
  position: absolute;
  z-index:1000;
  height:100%;
  width:100%;
  background: rgba(0,0,0,.8);
  display:flex;
  justify-content: center;
  align-items:center;
}

.printMenu__container{
  background:white;
  height: 56%;
  max-height:616px;
  min-height:616px;
  width: 45%;
  max-width:976px;
  min-width:976px;
  position: relative;
}

.printMenu__topLeft{
  position:absolute;
  top: -3.45rem;
  left: -2rem;
  padding: .8rem 2rem;  
  display:flex;
  gap: 5px;
}

.printMenu__print{
  background: #666;
  color:white;
  padding: .8rem 2rem;
  transition:all .2s ease;
  cursor:pointer;
}

.printMenu__print:hover{
  background: #777;
  color:white;
  transition:all .2s ease;
}

.printMenu__manage{
  background: #666;
  color:white;
  padding: .8rem 2.3rem;
  cursor:pointer;
  transition:all .2s ease;
}

.printMenu__manage:hover{
  filter:brightness(110%)
}

.printMenu__history{
  background: #666;
  color:white;
  padding: .8rem 4rem;
  cursor:pointer;
  transition:all .2s ease;
}

.printMenu__history:hover{
  filter:brightness(110%)
}

.activeMenu{
  background: white;
  color:black;
}

.activeMenu:hover{
  background: white;
  color:black;
}

.printMenu__print h5, .printMenu__history h5, .printMenu__manage h5, .printMenu__save h5, .printMenu__preview h5, .printMenu__queue h5, .printMenu__printButton h5{
  font-weight:500;
  font-size: .9rem;
  letter-spacing: .3px;
}

.printMenu__save h5, .printMenu__preview h5, .printMenu__queue h5, .printMenu__printButton h5{
  font-weight:500;
  font-size: .9rem;
  letter-spacing: .3px;
  color: #aaa;
}

.printMenu__close{
  position: absolute;
  top: -2.75rem;
  right: 0;
  padding: .5rem .5rem;
  background: #666;
  color: white;
  display: flex;
  align-items: center;
  cursor:pointer;
  transition:all .2s ease;
}

.printMenu__close:hover{
  filter:brightness(110%);
}

.printMenu__bottomLeft{
  position:absolute;
  display:flex;
  gap:.8rem;
  bottom:-2.7rem;
}

.printMenu__save, .printMenu__preview{
  background: #666;
  color:white;
  padding: .8rem 2rem;
}

.printMenu__bottomRight{
  position:absolute;
  display:flex;
  gap:.8rem;
  bottom:-2.7rem;
  right:0
}

.printMenu__queue, .printMenu__printButton{
  background: #666;
  color:white;
  padding: .8rem 2rem;
}

.printMenu__printButton{
  padding: .8rem 3.6rem;
}

.printMenu__container{
  display:flex;
}

.printMenu__left{
  flex:0.41;
  border-right:1px solid rgba(0,0,0,0.15)
}

.printMenu__leftContainer{
  display:flex;
  flex-direction:column;
  /* padding-right:1.6rem; */
  height: 100%;
}

.printMenu__leftTop {
  flex: 0.15;
  display:flex;
  flex-direction:column;
  justify-content: center;
  padding-left: 1.5rem;
}

.printMenu__leftTop h2{
  font-size:1.15rem;
  margin-bottom: .4rem;
}

.printMenu__leftTop p{
  font-size: .9rem;
  color: #666;
}

.printMenu__leftCenter{
  display:flex;
  align-items: flex-start;
  flex: 0.77;
}

.printMenu__leftCenterPrinter{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.4rem 0;
  padding-right: 1.8rem;
  padding-left: 1.5rem;
  cursor:pointer;
}

.printMenu__leftCenterLeft, .printMenu__leftCenterRight{
  display:flex;
  align-items:center;
  gap:1rem;
}

.printMenu__leftCenterLeft{
  gap:1rem;
}

.printMenu__printerIcon{
  display:flex;
}

.printMenu__printerName{
  font-size: 1rem;
    font-weight: 800;
}

.printMenu__printerSerial{
  font-size: .9rem;
}

.printMenu__leftCenterRight{
  gap:.5rem;
}

.printMenu__leftCenterRight p{
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: -.1px;
}

.printMenu__leftBottom{
  border-top:1px solid rgba(0,0,0,.15);
  flex: 0.08;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
  margin-left: 1.5rem;
}

.printMenu__leftBottom{
  display:flex;
}

.printMenu__allPrinters, .printMenu__addPrinter{
  display:flex;
  align-items:center;
  color:#666;
  transition: all .2s ease;
  cursor:pointer;
}

.printMenu__allPrinters:hover, .printMenu__addPrinter:hover{
  color:black;
}

.printMenu__right{
  flex:0.59;
}

.printMenu__right h2{
  font-size:1.15rem;
}

.printMenu__rightContainer{
  padding: 1.5rem 3rem 1.5rem 2rem;
}

.printMenu__jobName h2{
  margin-bottom:.5rem;
}

.printMenu__jobName input{
  width: 100%;
  padding: .6rem;
  border: 1.5px solid #ddd;
  border-radius: 3px;
  font-size: 1rem;
  transition: all .2s ease;
}

.printMenu__jobName input:active{
  border: 1.5px solid black;
}

.printMenu__jobName input:hover{
  border: 1.5px solid black;
}

.printMenu__printable, .printMenu__resin, .printMenu__thickness{
  gap:.7rem;
}

.printMenu__printability, .printMenu__printable, .printMenu__material, .printMenu__resin, .printMenu__layerThickness, .printMenu__thickness, .printMenu__volume, .printMenu__totalTime{
  display:flex;
  align-items:center;
}

.printMenu__printability, .printMenu__material, .printMenu__layerThickness, .printMenu__volume, .printMenu__totalTime{
  justify-content: space-between;
}

.printMenu__printability p, .printMenu__resin p, .printMenu__layerThickness p, .printMenu__volume p, .printMenu__totalTime p{
  font-size:1.05rem;
  font-weight:500;
}

.printMenu__printability, .printMenu__layerThickness, .printMenu__totalTime{
  margin-top:1.5rem;
}

.printMenu__printability, .printMenu__layerThickness, .printMenu__volume{
  border-bottom:1.5px solid rgba(0,0,0,.15);
  margin-bottom: 1.5rem;
  padding-bottom:1.5rem;
}

.printMenu__volumeAmount h2{
  margin-bottom:0.3rem;
}

.printMenu__volumeAmount p{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0,0,0,0.7);
}

.printMenu__reload{
  margin-top: 1rem;
}

.printMenu__reload h4{
  font-size: 1.05rem;
  color: #bbb;
  border: 2px solid #bbb;
  padding: .3rem .5rem;
  border-radius: 5px;
}

.selected{
  filter:invert(1);
  background:white;
}

