.tools{
  position:relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tools__tool{
  z-index: 5;
  background: white;
  display: flex;
  border-radius: 5px;
  transition: all .2s ease;
  position: relative;
}

.tools__tool:hover{
  filter:opacity(60%);
  cursor:pointer;
}

.tools__sizing{
  position:absolute;
  z-index:5;
  display:none;
}