.welcome {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  overflow-x: hidden;
  background: rgba(255, 255, 255, 0.99);
}

.welcome__container {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.99);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  position: relative;
}

.welcome__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0.2;
}

.welcome__header h2 {
  font-weight: 400;
}

.welcome__header h1 {
  font-size: 3rem;
}

.welcome__header h3 {
  font-weight: 400;
  margin-top: 1.5rem;
}

.welcome__body {
  flex: 0.8;
}

.welcome__checkSpecs {
  width: 80%;
  position: absolute;
  top: 20%;
  transform: translateX(100vw);
  width: 80%;
  position: absolute;
  height: 79.5%;
  top: 20%;
  overflow: hidden;
}

.welcome__checkSpecsBack {
  position: absolute;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.welcome__common {
  width: 80%;
  position: absolute;
  top: 20%;
  transform: translateX(100vw);
  width: 80%;
  position: absolute;
  height: 79.5%;
  top: 20%;
  overflow: hidden;
}

.welcome__commonBack {
  position: absolute;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.welcome__optimizing {
  width: 80%;
  position: absolute;
  top: 20%;
  transform: translateX(100vw);
  width: 80%;
  position: absolute;
  height: 79.5%;
  top: 20%;
  overflow: hidden;
}

.welcome__optimizingBack {
  position: absolute;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.welcome__bodyTitle {
  margin-bottom: 2rem;
}

.welcome__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.welcome__tutorial {
  cursor: pointer;
  position:relative;
}

.welcome__specs, .welcome__import, .welcome__optimize, .welcome__commonIssues, .welcome__loggingIn, .welcome__fixModel, .welcome__justLooking, .welcome__printPreview, .welcome__logs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.welcome__specsContainer, .welcome__importContainer, .welcome__fixContainer, .welcome__optimizeContainer, .welcome__commonContainer, .welcome__loggingContainer, .welcome__justContainer, .welcome__previewContainer, .welcome__logsContainer {
  width: 23rem;
  height: 12rem;
  position:relative;
}

.welcome__TBD{
  opacity: 0.1;
  pointer-events: none;
}

@media screen and (max-width: 1950px) {
  .welcome__container{
    gap: 0rem;
  }

  .welcome__header h2 {
    font-size:1.3rem;
  }

  .welcome__header h1 {
    font-size:2.4rem;
  }

  .welcome__header h3 {
    font-size:1rem;
  }

  .welcome__content {
    padding-bottom: 2rem;
  }

  .welcome__bodyTitle{
    font-size:1.4rem;
  }

  .welcome__specsContainer, .welcome__importContainer, .welcome__fixContainer, .welcome__optimizeContainer, .welcome__commonContainer, .welcome__loggingContainer, .welcome__justContainer, .welcome__previewContainer, .welcome__logsContainer {
    width: 18rem;
    height: 10rem;
  }

  .welcome__specs h3, .welcome__import h3, .welcome__fixModel h3, .welcome__optimize h3, .welcome__commonIssues h3, .welcome__loggingIn h3, .welcome__justLooking h3, .welcome__printPreview h3, .welcome__logs h3 {
    /* width:100% */
  }
}